body {
    font-family: Arial, sans-serif;
    background: linear-gradient(lightblue, white, lightblue);
    color: #000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #326499;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.label-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.label-input-container label {
    flex: 1;
}

.label-input-container input, .label-input-container select {
    flex: 2;
    padding: 10px;
    margin-left: 10px;
}

.label-input-container button {
    flex: 0;
    padding: 10px 20px;
    margin-left: 10px;
}

button {
    background-color: #326499;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 5px;
    flex: 1; /* To make buttons responsive */
}

button:hover {
    background-color: lightgrey;
    color: #326499;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: none; /* Eliminar bordes */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Línea separadora */
}

th {
    background-color: #326499;
    color: white;
}

td input[type="text"], td input[type="number"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none; /* Eliminar bordes de los inputs */
    background: none;
}

table td img {
    max-width: 50px;
}

@media (max-width: 600px) {
    .buttons-container {
        flex-direction: column;
    }

    button {
        width: 100%; /* Full width on mobile */
        margin: 5px 0;
    }
}
.navegar{
    background-color: rgb(163, 92, 163);
}