/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(lightblue,white, lightblue);
    color: #333; /* Color de texto principal */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: black; /* Negro */
    margin-top: 20px;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* Blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Gris claro */
}

thead {
    background-color: #326499; /* Azul */
    color: #fff; /* Texto blanco */
}

/* Estilos responsivos */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    table {
        font-size: 12px;
    }

    table th, table td {
        padding: 8px;
    }
}

/* Estilos para botones */
button {
    background-color: #326499; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

button:hover {
    background-color: lightblue; /* Azul más claro al pasar el ratón */
}

.boton {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

/* Estilos para formularios */
form {
    max-width: 100%;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; /* Permitir redimensionamiento vertical en textarea */
}

select {
    width: calc(100% - 2px); /* Ajustar el ancho para evitar desbordamiento horizontal */
}

/* Estilo para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
